*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/file.template.settings.xml
/.idea/gradle.xml
.DS_Store
/build
/captures
.externalNativeBuild
/router/build
/router/bulid.gradle
/testresource/build
/testresource/bulid.gradle
/setting.gradle
/local.properties
/build.gradle
/gradle.properties
/gradle/wrapper/gradle-wrapper.properties